<h1>Sandwich Samsara</h1>

<h2>Burgers that Crave to be Consumed!</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have Fulfilled Their Life Pupose</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Birth a New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Burger Status </label><br>
    <input type="radio" name="eaten" value="1" checked> Needs to be Eaten<br>
    <input type="radio" name="eaten" value="0"> Already Eaten
  </div>

  <button type="submit">Incarnate Burger</button>
</form>
